<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- 개인 개발자 팀(Personal Team)은 Sign In with Apple capability를 지원하지 않아
	     프로비저닝 프로파일 생성이 실패합니다. 유료 개발자 계정으로 전환하면 아래를 되살리세요. -->
	<!--
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	-->
</dict>
</plist>
